<div id="cut"></div>
<div class="textofdock">
	<div class="colontitultop">
		<img class="image" src="img/MidasLogo.png" alt="Italian Trulli">
		
			<p style="text-align: right;  line-height: 1.15;">
				<span style="font-size: 11pt;">ООО «МИДАС»</span> <br>
				<span style="font-size: 9pt;">ИНН 7736664814 / КПП 772501001</span> <br>
				<span style="font-size: 9pt;">Тел.+7-495-269-0257 │ Email. rusupport@midasit.com │ www.ru.midasuser.com</span>
			</p>
	
		<div class="line"></div>
	</div>
	<center><span class="head1"><b>СУБЛИЦЕНЗИОННЫЙ ДОГОВОР <span class="variant"><%= numdeal %></span> </b></span></center>
	<p text-align: justify;>г. Москва <span style="float: right;"><span class="variant"><%= datadeal %></span></span> </p>
	<p>
		<b>Общество с ограниченной ответственностью «МИДАС» (сокр. ООО «МИДАС»)</b> , именуемое в дальнейшем "ЛИЦЕНЗИАТ" в
		лице Директора по продажам Кан Олег Алексеевича, действующего на основании Доверенности №20180901-001 от 01
		сентября 2018 г., с одной стороны, и
	</p>
	<p>
		<b><%= nameoffirm %>,</b> именуемое в дальнейшем
		«СУБЛИЦЕНЗИАТ» в лице <span class="variant"><%= position_manager %> <%= namehead %></span> , действующего на основании <span class="variant"><%= based_on_what %></span>, с
		другой стороны, совместно именуемые «Стороны», заключили настоящий Договор (далее по тексту – «Договор») о
		нижеследующем:
	</p>
	<center><span class="head1">1. ПРЕДМЕТ ДОГОВОРА</span></center>
	<p>
		1.1. Настоящим Договором регулируются правоотношения, связанные с предоставлением лицензии на использование объекта
		права интеллектуальной собственности - компьютерной программы MIDAS.
	</p>
	<p>
		1.2. ЛИЦЕНЗИАТ предоставляет СУБЛИЦЕНЗИАТУ за вознаграждение право (неисключительную лицензию) на использование
		программных комплексов для ЭВМ (далее – ИСПОЛЬЗОВАНИЕ ПК) на условиях, предусмотренных Договором, согласно
		конфигурации и по цене, указанным в Приложении № 1 к Договору.
	</p>

	<p>
		1.3. Исключительные права и авторские права (набор инструкций в виде слов, цифр, кодов, схем, символов или в любом
		другом виде, выраженных в форме, пригодной для считывания компьютером, которые приводят его в действие для
		достижения определенной цели или результата) на интеллектуальную собственность, а также конфиденциальная информация
		и коммерческая тайна, относящиеся к ПК и документации к ним, принадлежат фирме «MIDAS Information Technology Co.,
		Ltd.», г. Seongnam-si, Южная Корея (далее по тексту – ЛИЦЕНЗИАР).
		ЛИЦЕНЗИАТ подтверждает, что обладает всеми необходимыми правами на предоставление СУБЛИЦЕНЗИАТУ неисключительного
		права на ИСПОЛЬЗОВАНИЕ ПК.
	</p>

	<p>
		1.4. ПК состоят из основной версии, а также нескольких разделяемых модулей и библиотек, технических средств защиты
		авторских прав (электронные ключи защиты) и сопутствующей документации в бумажном или электронном виде.
	</p>

	<center><span class="head1">2. ПРАВА И ОБЯЗАННОСТИ СТОРОН</span></center>

	<p>
		2.1. ЛИЦЕНЗИАТ, в пределах тех прав и способов, которые предоставлены ему ЛИЦЕНЗИАРОМ, предоставляет СУБЛИЦЕНЗИАТУ
		право на ИСПОЛЬЗОВАНИЕ ПК, указанных в Приложении №1, на следующих условиях:
	</p>
	<p>
		2.1.1. Переносить посредством копирования ПК с материальных носителей, полученных от ЛИЦЕНЗИАТА или осуществлять
		копирование дистрибутивов ПК через интернет и их последующую установку (инсталляцию) на электронно-вычислительные
		машины (компьютеры) СУБЛИЦЕНЗИАТА;
	</p>
	<p>
		2.1.2. Использовать электронные ключи защиты авторских прав;
	</p>
	<p>
		2.2. СУБЛИЦЕНЗИАТ имеет право:
	</p>
	<p>
		2.2.1. В случае несоответствия ПК оговоренным в настоящем Договоре характеристикам требовать:
		- приведение компьютерной программы в соответствие с оговоренными характеристиками;
	</p>

</div>
<div id="cut"></div>
<div class="textofdock">
		<div class="colontitultop">
				<img class="image" src="img/MidasLogo.png" alt="Italian Trulli">
				
					<p style="text-align: right;  line-height: 1.15;">
						<span style="font-size: 11pt;">ООО «МИДАС»</span> <br>
						<span style="font-size: 9pt;">ИНН 7736664814 / КПП 772501001</span> <br>
						<span style="font-size: 9pt;">Тел.+7-495-269-0257 │ Email. rusupport@midasit.com │ www.ru.midasuser.com</span>
					</p>
			
				<div class="line"></div>
			</div>

	<p>
		- или изменения размера платы по настоящему Договору;
	</p>
	<p>
		2.3. СУБЛИЦЕНЗИАТ обязан:
	</p>
	<p>
		2.3.1. Выплачивать ЛИЦЕНЗИАТУ плату за использование компьютерной программой в порядке и размерах, определенных
		настоящим Договором;
	</p>
	<p>
		2.3.2. Не осуществлять декомпиляцию, модификацию, дизассемблирование ПК
	</p>
	<p>
		2.3.3. Не передавать или предназначать Программу, устройство безопасности или Лицензию какому-либо другому лицу без
		предварительного письменного согласия ЛИЦЕНЗИАТА. Кроме того, СУБЛИЦЕНЗИАТ отвечает за сохранность устройства
		безопасности.
	</p>
	<p>
		2.4. ЛИЦЕНЗИАТ имеет право:
	</p>
	<p>
		2.4.1. Требовать от СУБЛИЦЕНЗИАТА устранения любых нарушений, выявленных в ходе выполнения условий настоящего
		Договора.
	</p>
	<p>
		2.5. ЛИЦЕНЗИАТ обязан:
	</p>
	<p>
		2.5.1. Предоставлять пользовательскую поддержку, включая обновление Программы, в период первых 12 (двенадцати)
		месяцев с момента приобретения Лицензии бесплатно, в связи с использованием Программы. Подписка на последующее
		обслуживание и пользовательскую поддержку будет предоставляться на условиях предопределенной платы. При этом
		обновление означает модификацию или исправление ошибок в предыдущей версии.
	</p>


	<center><span class="head1">3. ПРЕДОСТАВЛЕНИЕ ПРАВА НА ИСПОЛЬЗОВАНИЕ ПК</span></center>

	<p>
		3.1. ПК передаются по интернету или на материальных носителях. В состав ПК включены материальные или электронные
		носители, в которых они выражены, в том числе технические средства защиты авторских прав (электронные ключи защиты,
		информация, переданная по интернету или по электронной почте, либо в любой материальной форме).
	</p>
	<p>
		3.2. О праве на получение СУБЛИЦЕНЗИАТОМ неисключительной лицензии на ИСПОЛЬЗОВАНИЕ ПК свидетельствует подписанный
		СТОРОНАМИ Договор. Неисключительные лицензии предоставляются СУБЛИЦЕНЗИАТУ по интернету, либо на материальных
		носителях, что подтверждается подписанием СТОРОНАМИ Акта приемки-передачи прав. Подписанный Акт означает, что
		СУБЛИЦЕНЗИАТ не имеет претензий к работе установленных ПК и их конфигурации, а также что право предоставлено в
		соответствии с условиями Договора и Приложения №1 к нему.
	</p>
	<p>
		3.3. В стоимость предоставляемого СУБЛИЦЕНЗИАТУ по Договору права (неисключительной лицензии) на ИСПОЛЬЗОВАНИЕ ПК
		включены материальные или электронные носители, в которых они выражены, в том числе технические средства защиты
		авторских прав (электронные ключи защиты).
	</p>
	<p>
		3.4. Предоставление СУБЛИЦЕНЗИАТУ права (неисключительной лицензии) на ИСПОЛЬЗОВАНИЕ ПК осуществляется по Договору
		в течение 14 (четырнадцати) календарных дней с момента поступления на расчетный счет ЛИЦЕНЗИАТА суммы
		вознаграждения, перечисленного СУБЛИЦЕНЗИАТОМ в размере и сроки, указанные в Приложении №1 к Договору.
	</p>
	<p>
		3.5. Обязательство СУБЛИЦЕНЗИАТА по оплате считается исполненным в момент поступления платежа на расчетный счет
		ЛИЦЕНЗИАТА. Права на ИСПОЛЬЗОВАНИЕ ПК СУБЛИЦЕНЗИАТ получает при условии выполнения им обязательства по выплате
		вознаграждения ЛИЦЕНЗИАТУ.
	</p>
	<p>
		3.6. Суммы комиссий, взимаемых Банками, задействованными в переводе денежных средств на счет ЛИЦЕНЗИАТА по
		Договору, оплачиваются СУБЛИЦЕНЗИАТОМ. ЛИЦЕНЗИАТ выставляет СУБЛИЦЕНЗИАТУ счет на оплату в российских рублях.
		СУБЛИЦЕНЗИАТ производит оплату в российских рублях.
	</p>
</div>
<div id="cut"></div>
<div class="textofdock">
	<div class="colontitultop">
		<img class="image" src="img/MidasLogo.png" alt="Italian Trulli">
	
			<p style="text-align: right;  line-height: 1.15;">
				<span style="font-size: 11pt;">ООО «МИДАС»</span> <br>
				<span style="font-size: 9pt;">ИНН 7736664814 / КПП 772501001</span> <br>
				<span style="font-size: 9pt;">Тел.+7-495-269-0257 │ Email. rusupport@midasit.com │ www.ru.midasuser.com</span>
			</p>
			
		<div class="line"></div>
	</div>

	<center><span class="head1">4. СРОК ДЕЙСТВИЯ ДОГОВОРА И ПОРЯДОК ЕГО РАСТОРЖЕНИЯ</span></center>
	<p>
		4.1.Договор считается заключенным с <span class="variant"><%= datadeal %></span> <span class="variant"><%= contract_date %></span>.
	</p>
	<p>
		4.2.В случае нарушения СУБЛИЦЕНЗИАТОМ условий раздела 2 Договора, ЛИЦЕНЗИАТ вправе расторгнуть Договор в
		одностороннем порядке, направив СУБЛИЦЕНЗИАТУ соответствующее уведомление с указанием даты окончания действия
		Договора. В этом случае, СУБЛИЦЕНЗИАТ обязан незамедлительно возвратить ЛИЦЕНЗИАТУ технические средства защиты
		авторских прав и деинсталлировать ПК.
	</p>
	<center><span class="head1">5. РАЗРЕШЕНИЕ СПОРОВ</span></center>
	<p>
		5.1. Все споры, возникающие из настоящего Договора или связанные с ним, решаются путем переговоров между Сторонами.
	</p>
	<p>
		5.2. Споры, которые СТОРОНЫ не смогут разрешить путем переговоров, подлежат передаче на рассмотрение в Арбитражный
		суд г. Москвы.
	</p>
	<center><span class="head1">6. АДРЕСА И БАНКОВСКИЕ РЕКВИЗИТЫ СТОРОН</span></center>
	<p></p>
	<div style="padding-right: 1cm; padding-left: 2cm;">

		<table style="width:100%">
			<tr>
				<td style="width:55%">
					<p class="texttable" style="margin-left: 0.1cm; margin-right: 0.1cm; text-align: left; line-height: 1.3; font-size: 9pt;">
						<b>ЛИЦЕНЗИАТ: ООО «МИДАС» </b><br>
						ИНН: 7736664814 <br>
						КПП: 772501001 <br>
						Юридический адрес: 115280, г. Москва, ул. Ленинская слобода, д. 19, комната 9р. <br>
						Фактический адрес: 115280, г. Москва, ул. Ленинская слобода д. 19, БЦ «ОМЕГА ПЛАЗА», офис 606 <br>
						Тел: +7-495-269-0257 <br>
						Эл. почта: rusupport@midasit.com <br>
						Банк: АО КБ СИТИБАНК <br>
						р/с: 40702810700302199001 <br>
						к/с: 30101810300000000202 <br>
						БИК: 044525202 <br>
					</p>


				</td>
				<td>
					<p class="texttable" style="margin-left: 0.1cm; margin-right: 0.1cm; text-align: left; line-height: 1.3; font-size: 9pt;">
						<b>СУБЛИЦЕНЗИАТ: <span class="variant"><%= shortnameoffirm %></span></b><br>
						ИНН <span class="variant"><%= INN %></span><br>
						КПП <span class="variant"><%= KPP %></span><br>
						Юридический адрес: <span class="variant"><%= legal_address %></span><br>
						Почтовый адрес: <span class="variant"><%= mailing_address %></span><br>
						Тел: <span class="variant"><%= phone %></span><br>
						Эл. почта. <span class="variant"><%= email %></span><br>
						Банк: <span class="variant"><%= banker %></span><br>
						р/с: <span class="variant"><%= P_C %></span><br>
						к/с: <span class="variant"><%= K_P %></span><br>
						БИК: <span class="variant"><%= BIK %></span><br>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="texttable" style="margin-left: 0.1cm; margin-right: 0.1cm; margin-top: 0.05cm;  text-align: left; line-height: 1.3; font-size: 10pt;">
						<b>Подписи Сторон<br>со стороны ЛИЦЕНЗИАТА:<br></b><br>
						<br><br>
						Директор по продажам<br>
						Кан О.А.<br>
						<span style="font-size: 8pt;"> (на основании Доверенности №20180901-001 от 01 сентября 2018 г.)</span><br>
						<br><br>
						________________________ <br>
						Подпись<br>
					</p>
				</td>
				<td>
					<p class="texttable" style="margin-left: 0.1cm; margin-right: 0.1cm; margin-top: 0.05cm;  text-align: left; line-height: 1.3; font-size: 10pt;">
						<b>Подписи Сторон<br>cо стороны СУБЛИЦЕНЗИАТА:<br></b><br>
						<br><br>
						Генеральный директор<br>
						Гурьков С.В.<br>
						<br>
						<br><br>
						________________________ <br>
						Подпись<br>
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id="cut"></div>

		